@model timw255.Sitefinity.Portals.MVC.Models.DashboardViewModel

@Html.StyleSheet(Url.WidgetContent("/Frontend-Assembly/timw255.Sitefinity.Portals/Resources/jquery-ui.min.css"), "head")
@Html.StyleSheet(Url.WidgetContent("/Frontend-Assembly/timw255.Sitefinity.Portals/Resources/theme.css"), "head")
@Html.StyleSheet(Url.WidgetContent("/Frontend-Assembly/timw255.Sitefinity.Portals/Resources/portals.css"), "head")

@Html.Script(ScriptRef.JQuery, "bottom")
@Html.Script(ScriptRef.JQueryUI, "bottom")
@Html.Script("/Frontend-Assembly/timw255.Sitefinity.Portals/Resources/portals.js", "bottom")

<div class='dashboard configure' data-dashboard-id='@Model.DashboardId'>
    @foreach (var item in Model.DashboardItems)
    {
        <div class='dashboard-item' data-item-title='@Html.Raw(item.Title)' data-controller-type='@Html.Raw(item.ControllerType)' data-properties='@Html.Raw(Json.Encode(item.Properties))'>
            <h2>@Html.Raw(item.Title)
                <span class="remove">Remove</span>
                @if (item.Properties.Any())
                {
                    <span class="edit">Edit</span>
                }
            </h2>
        </div>
    }
</div>